<%- include('../partials/header.ejs') %>
    <br /> <br />
    <div class="container">
        <div class="row col-lg-12">
            <div class="col-9">
                <!--TODO: add ", Address 2 (if exists)" -->
                
                <h2><%=listing.address_1%></h2>
                <%if(listing.address_2!=null) {%>
                <h2><%=listing.address_2%></h2>
                <%}%>
            </div>
            <div class="col-9">
                <h4><%=listing.city%>, <%=listing.state%> <%=listing.zip%></h4>
            </div>
            <br />
            <div class="col-lg-7">
                <img src="/img/<%=listing.image_path%>" class="mx-auto" alt="image" style="width: 100%">
            </div>
            <div class="col-5">
                <h5><strong>College:</strong>
                    <%=listing.college%>
                </h5>
                <h5><strong>Offering:</strong>
                    <%=listing.offering_description%>
                </h5>
                <br>
                <h5><strong>Host:</strong>
                    <%=listing.host_name%>
                </h5>
                <h5><strong>Phone Number:</strong>
                    <%=listing.phone_num%>
                </h5>
                <h5><strong>Email:</strong>
                    <%=listing.email%>
                </h5>
                <br>
                <h5><strong>Start Date:</strong>
                    <%=DateTime.fromSeconds(parseInt(listing.start_stay)).toLocaleString(DateTime.DATETIME_SHORT)%>
                </h5>
                <!--TODO: convert to date -->
                <h5><strong>End Date:</strong>
                    <%=DateTime.fromSeconds(parseInt(listing.end_stay)).toLocaleString(DateTime.DATETIME_SHORT)%>
                </h5>
                <!--TODO: convert to date -->
                <br>
                <h5><strong>Bed: </strong>
                    <%=listing.num_of_bedrooms %> <strong> &nbsp; | &nbsp; Bath: </strong>
                        <%=listing.num_of_bathrooms %>
                </h5>
                <h5><strong>Amenities:</strong>
                    <%=listing.amenities%>
                </h5>
            </div>
        </div>
        <div class="col-6">
            <br>
            <h5><strong>Total Price:</strong> $<%=listing.price%>
            </h5>
            <br>
            <%if(listing.email==user.email){%>
            <a class="btn btn-primary" href="#" role="button" style="border-radius: 40px; border-color: #757bcb; background-color: #757bcb;">Edit</a>
            <a class="btn btn-primary" href="#" role="button" style="border-radius: 40px; border-color: #ff2b2b; background-color: #ff2b2b;">Delete</a>
            <%} else { %>
            <a class="btn btn-primary" href="#" role="button" style="border-radius: 40px; border-color: #757bcb; background-color: #757bcb;">Book Me!</a>
            <%}%>
            <br>
            <br>
            <br>
        </div>
    </div>
    </div>

    <%- include('../partials/footer.ejs') %>