<%- include('../partials/header.ejs') %>
        <!-- Search Bar -->
        <section>
            <div class="s002">
                <!-- TODO: make search queries based on search selections below -->
                <form>
                    <fieldset>
                        <legend>SEARCH HOUSING</legend>
                    </fieldset>
                    <div class="inner-form">
                        <div class="input-field first-wrap">
                            <div class="icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z">
                                    </path>
                                </svg>
                            </div>
                            <input id="search" type="text" placeholder="What are you looking for?" style="border-radius: 40px 0px 0px 40px;" />
                        </div>
                        <div class="input-field second-wrap">
                            <div class="icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z">
                                    </path>
                                </svg>
                            </div>
                            <input class="datepicker" id="depart" type="text" placeholder="20 Feb 2022" />
                        </div>
                        <div class="input-field third-wrap">
                            <div class="icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z">
                                    </path>
                                </svg>
                            </div>
                            <input class="datepicker" id="return" type="text" placeholder="20 Feb 2022"  />
                        </div>
                        <div class="input-field fouth-wrap">
                            <div class="icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z">
                                    </path>
                                </svg>
                            </div>
                            <select data-trigger="" name="choices-single-defaul">
                                <option placeholder="">1 Bedroom</option>
                                <option>2 Bedrooms</option>
                                <option>3 Bedrooms</option>
                                <option>4 Bedrooms</option>
                            </select>
                        </div>
                        <div class="input-field fifth-wrap">
                            <a href="#searchstart"><button class="btn-search" type="button" style="border-radius: 0px 40px 40px 0px;">SEARCH</button></a>
                        </div>
                    </div>
                </form>
            </div>
            <script src="js/extention/choices.js"></script>
            <script src="js/extention/flatpickr.js"></script>
            <script>
                flatpickr(".datepicker",
                    {});

            </script>
            <script>
                const choices = new Choices('[data-trigger]',
                    {
                        searchEnabled: false,
                        itemSelectText: '',
                    });

            </script>
        </section>

        <!-- Listings -->
        <section class="container tm-home-section-1" id="more">
            <div class="section-margin-top">
                <div class="row">
                    <div class="tm-section-header">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <hr>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h2 class="tm-section-title">All Listings</h2>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row" id="searchstart" >
                    <% if(listings.length) { listings.forEach(listing=>{%>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                        <a href="/listings/<%=listing.id%>" style="color:black">
                        <div class="tm-listing-box-1" >
                            <img src="/img/<%=listing.image_path%>" alt="image" class="img-responsive" style="width: 100%; border-radius: 40px 40px 0px 0px;">
                            <div class="tm-listing-box-1-info" style="background-color:lavender;">
                                <div class="tm-listing-box-1-info-left">
                                    <p class="text-uppercase margin-bottom-20"><%=listing.college%></p>
                                    <p class="margin-bottom-20"><%=listing.housing_type%></p>
                                    <p style="color:blueviolet"><%=DateTime.fromSeconds(parseInt(listing.start_stay)).toLocaleString(DateTime.DATETIME_SHORT)%></p>
                                </div>
                                <div class="tm-listing-box-1-info-right">
                                    <p class="listing-1-description"><%=listing.offering_description%></p>
                                </div>
                            </div>
                            <div class="tm-listing-box-1-link" style="border-radius: 0px 0px 40px 40px;">
                                <div class="tm-listing-box-1-link-left">
                                    Bed: <%=listing.num_of_bedrooms %> &nbsp; | &nbsp; Bath: <%=listing.num_of_bathrooms %> 
                                </div>
                                <div class="tm-listing-box-1-link-right">
                                    $<%=listing.price%>
                                </div>
                            </div>
                        </a>
                        </div>
                    
                    </div>
                  
                    <% }); } %>

                    
                </div>
            </div>
        </section>

    <%- include('../partials/footer.ejs') %>